@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Merienda+One&family=Stoke:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-orange: #ED7117;
    --secondary-orange: #C65E13;
    --tertiary-orange: #9E4B0F;
    --header-background: #FAFAFA;
    --white: #fff;
    --black: #000;
    --stoke: 'Stoke', serif;
    --merienda: 'Merienda One', cursive;
    --lato: 'Lato', sans-serif;
}

a{
    text-decoration: none;
    color: var(--black);
}

header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: var(--header-background);
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
}

#logo{
    font-family: var(--merienda);
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    display: flex;
    align-items: center;
}

#logo img{
    width: 40px;
    height: 40px;
}

#side-link{
    display: flex;
    align-items: center;
    position: relative;
    font-family: var(--lato);
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
}

.nav-links ul li:nth-child(5){
    margin-right: 10rem;
}

.nav-links ul li a{
    font-size: 18px;
    font-weight: 500;
}

.nav-links ul li::after{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background: var(--primary-orange);
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.right-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 12rem;
}

.right-links .asset-icon, .right-links .heart-icon{
    width: 20px;
    height: 20px;
}

.right-links .log-btn{
    border: 1px solid var(--primary-orange);
    padding: 8px 15px;
    border-radius: 5px;
    color: var(--primary-orange);
    font-family: var(--lato);
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

#navbar .icons{
    display: none;
}


/* ------------------------- */
/* Navbar query@768px */

@media screen and (max-width: 768px){
    #navbar{
        padding: 18px 30px;
        position: fixed;
        width: 100%;
    }

    .logo{
        font-size: 18px;
    }

    .nav-links ul li:nth-child(5){
        margin-right: none;
        border-bottom: none;
    }

    #side-link{
        flex-direction: column;
    }

    .log-btn{
        align-self: center;
        margin-top: 20px;
    }

    .nav-links ul li{
        display: block;
        border-bottom: 1px solid var(--primary-orange);
        padding: 0;
    }

    #side-link{
        position: fixed;
        background: var(--tertiary-orange);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    .nav-links ul li::after{
        display: none;
    }

    #navbar .icons{
        display: block;
        color: var(--primary-orange);
        margin: 10px;
        font-size: 25px;
        cursor: pointer;
    }

    #nabar .times{
        color: var(--white);
    }
}


/* ----------------------- */
/* header ellipse */
.ellipse{
    position: absolute;
    width: 100%;
}

.ellipse .ellipse-1{
    position: absolute;
    width: 606px;
    height: 370px;
    left: -90px;
    top: 120px;
}

.ellipse .ellipse-2{
    position: absolute;
    width: 437.63px;
    height: 450px;
    right: 2px;
}

/* ----------------------- */
/* Header texts */
#header-texts{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    place-items: center;
    text-align: center;
    /* margin: -2rem 0px; */
}

#header-texts .info{
    font-family: var(--stoke);
    font-weight: 400;
    font-size: 55px;
    line-height: 80px;
    margin-bottom: 10px;
    width: 70%;
}

#header-texts .assurance{
    font-family: var(--lato);
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    width: 55%;
    margin-bottom: 20px;
}

#header-texts .search-input{
    width: 35%;
    background: var(--white);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 88px;
    position: relative;
    margin-bottom: 2rem;
}

#header-texts .search-input input{
    width: 100%;
    outline: none;
    border: none;
    border-radius: 88px;
    padding: 10px;
    padding-right: 45px;
    color: #333;
    font-family: var(--lato);
    font-size: 18px;
}

#header-texts .search-input .search-icon{
    position: absolute;
    width: 25px;
    height: 25px;
    width: 35px;
    height: 35px;
    top: 50%;
    right: -10px;
    transform: translate(-50%, -50%);
    background: var(--secondary-orange);
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

#header-texts .search-input .search-icon:hover{
    background: var(--primary-orange);
}

#header-texts .join-btn{
    width: 20%;
    display: inline-block;
    background: var(--primary-orange);
    padding: 10px;
    font-family: var(--lato);
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--white);
    border-radius: 14px;
    cursor: pointer;
}

#header-texts .join-btn a{
    color: var(--white);
}

#header-texts .join-btn:hover{
    background: var(--secondary-orange);
}

.miniArrow{
    width: 50px;
    height: 50px;
    transform: rotate(26.55deg);
    position: absolute;
    left: 196.14px;
    top: 330px;
}

.header-image{
    display: none;
    width: 1440px;
    height: 594px;
    left: 0px;
    top: 0px;
}

.header-image .image{
    background: rebeccapurple;
    width: 1440px;
    /* height: 594px; */
    left: 0px;
    top: 0px;
}